@model Y2K.Models.ReservationVM
@{
    ViewBag.Title = "Resultado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Resultado</h2>
@using (Html.BeginForm("Resultado", "Reservation"))
{
    <table>
        <tbody>
            <tr>
                <td width="90px" height="40px">@Html.LabelFor(m => m.Nombre)</td>
                <td>@Html.Label(Model.Nombre)</td>
            </tr>
            <tr>
                <td width="90px" height="40px">@Html.LabelFor(m => m.LastName)</td>
                <td>@Html.Label(Model.LastName)</td>
            </tr>
            <tr>
                <td width="90px" height="40px">@Html.LabelFor(m => m.Email)</td>
                <td>@Html.Label(Model.Email.ToString())</td>
            </tr>
            <tr>
                <td width="90px" height="40px">@Html.Label("Ciudad")</td>
                <td width="90px" height="40px">@Html.Label(@Model.City.Name)</td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <input type="submit" value="Guardar" />
}
